@using Humanizer
@using SuperStatus.Configuration
@using SuperStatus.Data.Entities
@inject IncidentApiClient IncidentApi

<MudGrid>

    <MudItem xs="12" sm="8" md="8">
        <MudGrid>
            @if (incidentSetByDays == null)
            {
                <MudItem xs="12">
                    <div>Loading...</div>
                </MudItem>
            }
            else
            {
                foreach (var day in incidentSetByDays.Keys)
                {
                    if (incidentSetByDays[day].Count == 0)
                    {
                        <MudItem xs="12">
                            No incidents
                        </MudItem>

                        continue;
                    }
                    <MudItem xs="12">
                        <MudText Typo="Typo.h6">@day.ToLongDateString()</MudText>
                    </MudItem>
                    @foreach (var incident in incidentSetByDays[day])
                    {
                        <MudItem xs="12">
                            <MudPaper Class="pa-3">
                                <MudText Typo="Typo.subtitle1">@incident.Title</MudText>
                                <MudText Typo="Typo.body2" Color="Color.Secondary">@incident.Description</MudText>
                                <MudText Typo="Typo.caption" Color="Color.Secondary">Occurred @incident.Created.Humanize()</MudText>

                            </MudPaper>
                        </MudItem>
                    }
                }
            }
            )
        </MudGrid>
    </MudItem>

</MudGrid>

@code {


    private IDictionary<DateTime, List<IncidentViewModel>>? incidentSetByDays;
    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        await LoadIncidentsAsync();
    }

    private async Task LoadIncidentsAsync()
    {
        incidentSetByDays = await IncidentApi.GetIncidentsAsync();
    }


}