@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<ThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <MudLayout>
        <HeaderBar />
        <AuthorizeView>
            <Authorized>
                @*<NavMenu />*@
            </Authorized>
        </AuthorizeView>
        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</CascadingAuthenticationState>