@using SuperStatus.Configuration
@inject StatusApiClient StatusApi
@implements IAsyncDisposable

<MudGrid>
    <MudItem xs="0" sm="2" md="2">
    </MudItem>
    <MudItem xs="12" sm="8" md="8">
        <MudGrid>
            @if (statusCheckSet == null)
            {
                <MudItem xs="12">
                    <div>Loading...</div>
                </MudItem>

            }
            else
            {
                foreach (var statusCheck in statusCheckSet)
                {
                    <MudItem xs="12">
                        <StatusCheckOverviewCard statusCheck="statusCheck" />
                    </MudItem>
                }
            }
        </MudGrid>
    </MudItem>
    <MudItem xs="0" sm="2" md="2">
    </MudItem>
</MudGrid>

@code {
    private List<StatusCheckViewModel>? statusCheckSet;
    private PeriodicTimer? timer;
    private CancellationTokenSource cts = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        await LoadStatusChecksAsync();

        timer = new PeriodicTimer(TimeSpan.FromSeconds(SuperStatusConfig.StatusCheckViewRefreshIntervalInSeconds));

        _ = UpdateDataAsync();
    }

    private async Task UpdateDataAsync()
    {
        try
        {
            while (await timer!.WaitForNextTickAsync(cts.Token))
            {
                await LoadStatusChecksAsync();
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (OperationCanceledException)
        {
            // Handle cancellation if needed
        }
    }

    private async Task LoadStatusChecksAsync()
    {
        statusCheckSet = await StatusApi.GetStatusAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (timer is not null)
        {
            cts.Cancel();
            timer.Dispose();
            cts.Dispose();
        }
    }
}